body {
    background-color: #232323 !important;
    font-family: 'Open Sans';

}
hr {
    border-top:1px solid #474648 !important;
}
.brand-color {
  color: #00460F;
}
.brand-color2 {
  color: #CFB53B;
}
.neon-green {
    color: #00FF00;
}
.neon-orange {
    color: #ff9933;
}
.white {
    color: #fff;
}
.hidden {
    display: none;
}
.caret{
    cursor: pointer;
}
.primary-nav {
    background-color: #00460F;
    color: #ffffff !important;

}
.logo-sm {
    padding: 0 !important;
    margin:5px;
    cursor: pointer;
}

.secondary-nav{
    background-color: #1a1a1a;
    margin-bottom: 25px;
}
.primary-nav a, .secondary-nav a{
    color: #E6E6E6;
    font-weight: bold;
}
.nav-link.disabled,
.nav-link.disabled:hover{
    color: #636c72 !important;
    background-color: transparent;
}
.primary-nav a:visited,
.secondary-nav a:visited {
    color: #E6E6E6;
}
.primary-nav a:hover {
    color: #CFB53B;
}
.primary-nav a:active {
    color: #CFB53B;
    background-color: #00460F;
}
.secondary-nav a:hover {
    color: #CFB53B;

}
.secondary-nav a.active {
    color: #007A1B;
}
.sn-li1{
    margin-left: 55px;
}
.primary-nav-rt {
    float: right;
}

.stadium-banner {
    background-image: url("../images/stadium-banner.jpg");
    background-position: top;
    background-repeat: no-repeat;

}

.error-reporting {
    min-height: 66px !important;

}
.error-1, .error-2 {

}

/* ******************Start Card CSS************************ */

.card-text {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.card-text-header {
    font-size: 115%;
    font-family: 'Archivo Black', cursive;
    margin-top: 50px;
}
.card-text-content {
    font-size: 80%;
}
.card-footer-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: 'Archivo Black', cursive;
}
.card-1, .card-2, .card-3 {
    width: 300px ;
    height: 200px;
    margin: 25px;
}
.card-1 .card-footer-text a {
    position: absolute;
    bottom: 5px;
    left: 33%;
    font-weight: bold;
    color: #0078A8;
}
.card-2 .card-footer-text {
    font-family: 'Orbitron';
  }
.card-3 .card-footer-text {
      text-transform: uppercase;
      margin-top: 140px;
  }
.card-smaller-text {
    font-size: 14px;
    font-family: 'Orbitron';
}
.card-1 {
        background-image: url("../images/card3.jpg");
        background-position: center;
        background-repeat: no-repeat;
}
.card-2 {
        background-image: url("../images/card1.jpg");
        background-position: center;
        background-repeat: no-repeat;
}
.card-3 {
        background-image: url("../images/card2.jpg");
        background-position: center;
        background-repeat: no-repeat;
}

/* ******************End Card CSS************************ */
/* ******************Start Create Menu CSS************************ */
.create-menu {
  text-align: center;
  border-right: 1px solid #ccc;
}
.create-menu.end {
  border: none;
}

.create-menu a,
.create-menu a:visited {
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-decoration: none !important;
}

.create-menu a:hover,
.create-menu a:active
{
  color: #CFB53B;
  text-decoration: none;
}



/* ******************End Create Menu CSS************************ */
/* ******************Start Filter CSS************************ */
.filter {
	background-color: #1a1a1a;
	color: #fff;
    margin-top: 25px;
    padding: 15px;
}
.filter-label {
  font-size: 80%;
}

.filter-1 input {
  height: 21px;
  font-size: 80%;
  padding: 2px;
  outline: 0;
  width: 200px;
}
.filter-style-btn{
    left: 25px;
    position: relative;
}

ul.dropdown-menu.style-menu {
    padding: 5px;
}
.filter-style-dropdown input {
    position: absolute;
    right: 15px;
    margin-top: 7px;
}
.style-filter-item {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 80%;
}
.style-filter-item.first{
  padding-top: 5px;
}
.style-filter-item input[type="checkbox"] {
    position: absolute;
    right: 10px;
    margin-top: 3px;
}
.filter-1 {
  width: 200px;
}

.filter-3 {
    left: 55px;
    position: relative;
}
ul.dropdown-menu.type-menu {
    font-size: 150%;
    padding: 5px 0px;  
}
.filter-4  {
    left: 85px;
    position: relative;
}
.filter-5 {
    left: 115px;
    position: relative;
}
.filter-6 {
    left: 135px;
    position: relative;

}
.filter-6 label {
    font-size: 80%;
    margin-top: 8px !important;
}
.filter-6  input[type="checkbox"] {
    margin-right: 3px;
}
.checkbox-last {
    margin-left: 20px;
}
#scoring-dropdown,
#entryFee-dropdown-from, #entryFee-dropdown-to,
#fieldSize-dropdown-from, #fieldSize-dropdown-to
 {
    display: inline-block;
    width: 72px !important;
    background-color: #fff;
    color: #232323 !important;

}
#contestType-dropdown {
    display: inline-block;
    background-color: #fff;
    color: #232323 !important;
    width: 160px;

}
a.dropdown-filter,
a.dropdown-field,
a.dropdown-type {
    padding-left: 5px;
}
.ps-dropdown .dropdown-filter span,
.ps-dropdown .dropdown-field span,
.ps-dropdown .dropdown-type span {
    color: #00460F;
    float: right;
    cursor: pointer;
    font-size: 16px;
    border-left: 1px solid #e9e8ea;
    width: 18px ;
    padding: 3px;
    height: 21px;
}
#entryFee-dropdown-to ul.dropdown-menu,
#fieldSize-dropdown-to ul.dropdown-menu,
#contestType-dropdown-to ul.dropdown-menu  {
  position: absolute;
  left: 94px;
}
.dropdown-menu.style-menu,
.dropdown-menu.entry-menu,
.dropdown-menu.field-menu  {
  min-width: 74px !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 0 !important;
}
.dropdown-menu.type-menu {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 !important;
}
.dropdown-menu.filter-menu li,
.dropdown-menu.entry-menu li,
.dropdown-menu.field-menu li,
.dropdown-menu.type-menu li {
  border-bottom: 1px solid #E6E6E6;
}
.dropdown-menu.filter-menu a,
.dropdown-menu.entry-menu a,
.dropdown-menu.field-menu a,
.dropdown-menu.type-menu a  {
  color: #00460F;
  font-size: 80%;
  font-weight: 400;
  padding-left: 5px;

}
.dropdown-menu.entry-menu li:hover,
.dropdown-menu.field-menu li:hover,
.dropdown-menu.type-menu li:hover {
    background-color: #00460F;

}
.dropdown-menu.entry-menu li a,
.dropdown-menu.field-menu li a,
.dropdown-menu.type-menu li a  {
    display: block;
}
.dropdown-menu.entry-menu li a:hover,
.dropdown-menu.field-menu li a:hover,
.dropdown-menu.type-menu li a:hover{
    color: #fff;
    text-decoration: none;
}

/* *************** End Filter CSS ************************* */

/* *************** Start Lobby Table CSS ************************* */

.lobby-table-header {
    background-color: #00460F;
    width: 100%;
    color: #E6E6E6;
    padding: 5px 0px 5px 15px;
    font-size: 80%;
}

.lobby-table {
    background-color: #E6E6E6;
    color: #1a1a1a;
    font-weight: 700;
    font-size: 85%;
    padding: 5px;
    margin-bottom: 30px;
    overflow: auto;
    height: 493px;
}
.table-row {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}
.row.table-row {
    padding-left: 0 !important;
}
.contest-name.col-4 {
    padding-left: 10px;
}
.contest-name, .contest-field {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contest-name-header.col-4 {
    padding-left: 33px;
}
.contest-name a,
.contest-prize a,
.contest-live a,
.table-icon {
    color: #00460F;
}
.table-icon {
  padding-right: 5px;
}
.contest-name a:hover,
.contest-prize a:hover,
.contest-live a:hover {
    color: #00460F;
}
.contest-style.col-1 .dk,
.contest-style.col-1 .fd,
.contest-style.col-1 .fdr {
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 75%;
}
.dk a:link, .dk a:visited,
.dk a:hover,.dk a:active {
  color: #000;
  text-decoration: none;
}
.fd a:link, .fd a:visited,
.fd a:hover,.fd a:active {
  color: #fff;
}
.fdr a:link, .fdr a:visited,
.fdr a:hover,.fdr a:active {
  color: #2cccf4;
}
.contest-entry, .contest-field,
.contest-field-header,.contest-prize {
    text-align: center;
}
/*.contest-prize-header span {
 position: relative;
 left: 30px;
}*/
.contest-prize {
  color: #00460F;
}

.table-icon, .field-of, .field-to {
    display: inline;
}


.all {
    color: #000;
    border: 2px solid #000;
    padding:2px 6px;
    background-color: #fff;

}
.dk {
    color: #000;
    border: 2px solid #98e400;
    padding:2px 6px;
    background-color: #ff8900;

}
.fd {
    color: #fff;
    border: 2px solid #2c4d75;
    padding:2px 6px;
    background-color: #1493ff;
}

.fdr {
    color: #2cccf4;
    border: 2px solid #2cccf4;
    padding:2px 4px;
    background-color: #000;
}


.contest-enter {
    background-color: #232323;
    width: 76px;
    padding: 5px 0px;
    color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 4px solid #000;
    position: absolute;
    top: -7px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
	text-transform:uppercase;
}
.btn-enter {
	color: #fff;
}

.contest-enter:hover{
  background-image: -webkit-linear-gradient(bottom, #00460F, #156824);
  background-image: -moz-linear-gradient(bottom, #00460F, #156824);
  background-image: -ms-linear-gradient(bottom, #00460F, #156824);
  background-image: -o-linear-gradient(bottom, #00460F, #156824);
  background-image: linear-gradient(to top, #00460F, #156824);
  color: #fff;
  text-decoration: none;
  border-bottom: 4px solid #CFB53B;
  }

.contest-enter a:link,
.contest-enter a:visited,
.contest-enter a:hover,
.contest-enter a:active
{
    color: #fff;
    text-decoration: none !important;
}
.btn-enter:focus,.btn-enter:active {
   outline: none !important;
}





#footer {
    background-color: #1a1a1a;
    width: 100%;
    color: #fff;
    padding: 20px;
}
